<div class="m-portlet">
  <div class="m-portlet__body">

    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#1A4EDE"
      type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Tegelen...</p>
    </ngx-spinner>

    <table *ngIf="similarities" class="table table-bordered">
      <thead>
      <tr>
        <th>Aine</th>
        <th>Erinevus (%)</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-distance="$implicit" [ngForOf]="similarities">
        <tr>
          <td>{{distance.course}}</td>
          <td>{{distance.similarity}}</td>
          <br><br>
        </tr>
      </ng-template>
      </tbody>
    </table>

  </div>
  <!--end::Form-->
</div>


