<div>
  <form class="m-form m-form--state" #courseMaterialsForm id="courseMaterialsForm">
    <div id="courseMaterialsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Kursuse materjalid</h5>
            <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="m-form">
              <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                  <table align="center" *ngIf="materials && course && course.code" class="table table-bordered" style="table-layout: fixed; width:100%;">
                    <thead>
                      <tr>
                        <th>Pealkiri</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template ngFor let-material="$implicit" [ngForOf]="materials[course.code]">
                        <tr>
                          <td style="word-wrap: break-word;">{{material.title}}</td>
                          <td style="word-wrap: break-word;">{{material.link}}</td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
