<div class="m-portlet">
  <div class="m-portlet__body">

    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#1A4EDE"
      type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Tegelen...</p>
    </ngx-spinner>

    <div>
      Algav semester: {{getCurrentSemester()}}
    </div>

    <div class="m-separator m-separator--dashed d-xl-none"></div>


    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef> Kood </mat-header-cell>
          <mat-cell *matCellDef="let c; let i = index" >{{c.code}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name" style="width:150%">
          <mat-header-cell *matHeaderCellDef> Nimetus </mat-header-cell>
          <mat-cell *matCellDef="let c">{{c.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="url">
          <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
          <mat-cell *matCellDef="let c"> <div [innerHtml]="c.url | linkify"></div> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="custom">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let c">
            <a (click)="setFormCourse(c); searchMaterial(c.code)" data-toggle="modal" data-target="#courseMaterialsModal" class="dropdown-item"  class="btn btn-primary m-btn m-btn--custom m-btn--icon">
              <span>
                  <i class="la la-plus"></i>
                  <span>
                      Vaata materjalid
                  </span>
              </span>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let c; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
  </div>
  <!--end::Form-->
</div>


<app-course-materials
  [course]="course"
  [materials]="materials"
></app-course-materials>
