<div class="m-page-loader m-page-loader--base m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
  <div class="m-blockui"> <span>Laadimine...</span> <span><div class="m-loader m-loader--brand"></div></span> </div>
</div>
<div class="m-grid m-grid--hor m-grid--root m-page">
  <app-header></app-header>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      <app-main-navigation></app-main-navigation>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
          <div class="m-content">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
  <app-footer></app-footer>
</div>
<!-- end:: Page -->
<!-- begin::Scroll Top -->
<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
  <i class="la la-arrow-up"></i>
</div>

