<!--Begin::Section-->
<div class="m-portlet">
  <div class="m-portlet__body">

    <div>
      Algav semester: {{getCurrentSemester()}}
    </div>

    <div class="m-separator m-separator--dashed d-xl-none"></div>

  <div class="example-container mat-elevation-zX">
      <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Kood </mat-header-cell>
          <mat-cell *matCellDef="let c"> {{c.code}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell  fxFlex="1000px" *matHeaderCellDef mat-sort-header> Nimetus </mat-header-cell>
          <mat-cell fxFlex="1000px" *matCellDef="let c"> {{c.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="url">
          <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
          <mat-cell *matCellDef="let c"> <div [innerHtml]="c.url | linkify"></div> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="custom">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let c">
            <a routerLink="/courseSimilarities/similarities/{{c.code}}" class="btn btn-primary m-btn m-btn--custom m-btn--icon">
              <span>
                  <i class="la la-plus"></i>
                  <span>
                      Seosed teiste ainetega
                  </span>
              </span>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let c; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
  </div>
  <!--end::Form-->
</div>
