<header  class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" > <!--*ngIf="authService.isLoggedIn()"-->
  <div class="m-container m-container--fluid m-container--full-height">
    <div class="m-stack m-stack--ver m-stack--desktop">
      <!-- BEGIN: Brand -->
      <div class="m-stack__item m-brand  m-brand--skin-dark ">
        <div class="m-stack m-stack--ver m-stack--general">
          <div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo">
            <a href="/" class="m-brand__logo-wrapper">
              <img src="assets/ssd/default/media/img/uni.jpg" height="70" width="80">
            </a>
            <br><br>
          </div>
          <div class="m-stack__item m-stack__item--middle m-brand__tools">
            <!-- BEGIN: Responsive Aside Left Menu Toggler -->
            <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
              <span></span>
            </a>
            <!-- END -->
            <!-- BEGIN: Responsive Header Menu Toggler -->
            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
              <span></span>
            </a>
            <!-- END -->
            <!-- BEGIN: Topbar Toggler -->
            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
              <i class="flaticon-more"></i>
            </a>
            <!-- BEGIN: Topbar Toggler -->
          </div>
        </div>
      </div>
      <!-- END: Brand -->
      <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
        <div *ngIf="title" class="m-header__title">
          <h3 class="m-header__title-text"> <i class="m-menu__link-icon" [class]="titleIconClass"></i> {{title}}</h3>
        </div>
        <!-- BEGIN: Horizontal Menu -->
        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
          <i class="la la-close"></i>
        </button>
        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  >
          <ul *ngIf="subNavigations.length > 0" class="m-menu__nav  m-menu__nav--submenu-arrow ">
            <ng-template ngFor let-navigation="$implicit" [ngForOf]="subNavigations" let-i="index">
              <li class="m-menu__item" routerLinkActive="m-menu__item--active">
                <a [routerLink]="navigation.href" class="m-menu__link">
                                    <span class="m-menu__link-text">
                                        {{navigation.name}}
                                    </span>
                </a>
              </li>
            </ng-template>
          </ul>
        </div>
        <!-- END: Horizontal Menu -->
        <!-- BEGIN: Topbar -->
        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
          <div class="m-stack__item m-topbar__nav-wrapper">
            <span></span>
            <ul class="m-topbar__nav m-nav m-nav--inline">
              <li class="m-nav__item nav-select-role m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"  m-dropdown-toggle="click">
                <a href="/" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-menu__link-title">
                                                <span class="m-menu__link-wrap">
                                                    <span class="m-menu__link-text">Tartu Ülikool</span>
                                                    </span>
                                                </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- END: Topbar -->
      </div>
    </div>
  </div>
</header>
